<div class="login-form">
  <form action="/login" method="post">
    <div class="form-control">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="username"
        autocomplete="off"
        placeholder="Enter your name"
      />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        autocomplete="off"
        placeholder="Enter your password"
      />
    </div>
    <div class="form-control">
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>
