* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", "Helvetica", Helvetica, sans-serif;
  background: #aa9a96;
  color: #f7df1e;
  font-size: 1.8rem;
  padding: 1.2rem;
  letter-spacing: 1px;
}

.login-form {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  font-size: 2.2rem;
}

.login-form form {
  width: 40%;
}

.form-control {
  margin-bottom: 1rem;
  width: 100%;
}

.form-control label {
  display: block;
  margin-bottom: 1rem;
}

.form-control input {
  padding: 0.375rem 0.75rem;
  width: 100%;
  font-size: 1.3rem;
  line-height: 2;
}

.btn {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
}

.link {
  display: inline-block;
  margin-bottom: 1rem;
}

.repo {
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.repo-title {
  color: #0366d6;
  text-decoration: none;
  font-weight: 300;
}

.repo-description {
  margin-top: 1rem;
  color: #ccc;
}
